### 1. INSERT INTO

	INSERT INTO
		table_name(col1, col2, col3)
	VALUES
		(val11, val12, val13),
		(val21, val22, val23)

### 2. UPDATE
	UPDATE    
		table_name
	SET
		col1=value1,
		col2=value2
	WHERE
		condition
Note: UPDATE is dangerous if the WHERE clause is incorrect, thus, it is better to test it on SELECT clause before using it in UPDATE.

### 3. DELETE FROM

	DELETE FROM
		table_name
	WHERE
		condition
Note: 
- DELETE only deletes the rows and not the TABLE
- DELETE without where clause will delete all the rows
- DELETE locks the row which is being manipulated
- TRUNCATE can be used to delete all rows from the table. This is faster than DELETE as it does not scan through all rows sequentially

**TRUNCATE TABLE table_name**

### 3. CREATE TABLE

	CREATE TABLE table_name(
	column1 datatype [column_constraint],
	column2 datatype [column_constraint],
	column3 datatype [column_constraint],
	[table_constraints]
	)

### 4. PRIMARY KEY
(Can uniquely identify a row, should not have redundant columns)

	CREATE TABLE table_name(
		column1 datatype CONSTRAINT constraint_name PRIMARY KEY,
		column2 datatype [column_constraint],
	[table_constraints]
	)

Note:
- PRIMARY KEY is equivalent to Unique + Non-Null
- Table can only have one PRIMARY KEY
- Can be Simple (single column) or Composite (multiple columns)

Example of composite key:

	CREATE TABLE table_name(
		column1 datatype,
		column2 datatype,
	CONSTRAINT constraint_name PRIMARY KEY (col1, col2 ....)
	)

### 5. FOREIGN KEY
Referential Constraint
- Child Table is the table containing the Foreign Key
- Parent Table is the table which is Foreign Key to another table references

Any new row in the Child table need to have corresponding Foreign Key value in the Parent table.

	CREATE TABLE table_name(
		column1 datatype (CONSTRAINT constraint_name) PRIMARY KEY,
		column2 datatype (CONSTRAINT constraint_name) REFERENCES parent_key(column_name),
	)
    
OR

	CREATE TABLE table_name(
		column1 datatype (CONSTRAINT constraint_name) PRIMARY KEY,
		column2 datatype,
        
	(CONSTRAINT constraint_name) FOREIGN KEY (col1, col2 ....) REFERENCES parent_table(col1, col2...)
	)

- Foreign keys can be NULL or can have duplicates. The only constraint is that any value of foreign key in child table should not be missing from the parent table.

**Referential Action**
(Specify action to be taken, when foreign key constraint is violated using ON UPDATE/ ON DELETE)
- NO ACTION
- CASCADE: perform same action in child table
- SET NULL: set missing foreign key values in Child Table to NULL
- SET DEFAULT: set missing foreign key values in Child Table to Default value

In [ ]:
**Other Constraints on columns:**
- UNIQUE
- NOT NULL
- DEFAULT
- CHECK : similar to WHERE condition

### 5. SERIAL
(Serial datatype is an auto-incrementing datatype, and generates values based on previous valus. It can be customized to change the step size)

	CREATE TABLE table_name(
		id SERIAL
		name VARCHAR(10)
	)

### 7. TEMPORARY
(Used to create temporary table, which one exists for the duration of the session)

CREATE TEMPORARY TABLE table_name AS
query

### 8. ALTER TABLE
(Used to Add, Drop, Update table elements such as Column, Constraint etc.)

### 9. DROP TABLE
(To delete tables)

DROP TABLE [IF EXISTS] table_name

DROP TABLE parent_table CASCADE

Note: 
- DROP removes the entire table and everything that is associated with it, where as DELETE and TRUNCATE only remove the data and not the table structure. 
- CASCADE removes the foreign key constraint from the Child table

## Transactions
(Block of code which is committed only if all statements have been executed successfully)

BEGIN TRANSACTION;     --Can use START instead of BEGIN

UPDATE ..1..;

UPDATE ..2..;

COMMIT;

Note: COMMIT makes all changes permanent in the database. We can use ROLLBACK, in place of COMMIT, to revert all changes at the end of the w UPDATE block.